{% extends 'container.twig' %}
{% block body %}

<div class="hero-unit">
    <h1>Albums</h1>
    <p>Manage albums and display orders</p>
</div>
	
<div class="row-fluid">
	<ul class="breadcrumb">
  		<li><a href="{{ app.url_generator.generate('admin.homepage') }}">Home</a> <span class="divider">/</span></li>
	  	<li class="active">Albums</li>
	</ul>
</div>

<div class="row">
	
	<div class="span4">
		<div class="json_alert hidden alert">
  			<a href="#" class="close" data-dismiss="alert" >&times;</a>
  			<strong>Good Job!</strong> <span class="msg"></span>
		</div>
		{% if error|length > 1 %}
		<div class="alert alert-error">
  			<a href="#" class="close" data-dismiss="alert" >&times;</a>
  			<strong>Warning!</strong> {{ error }}
		</div>
		{% endif %}
		<form method="post" action="{{ app.url_generator.generate('admin.album.create') }}">
	          <h2>Create new album</h2>
	          <p>To create a new album, enter the album name below</p>
			  <p><input type="input" id="new_album_name" name="val" value="{{ name|default('') }}" /></p>
			  <p><button type="submit" class="btn-primary btn create">Create</button></p>
		</form>
	</div>
    
    <div class="span7 offset1">
          <h2>Edit albums</h2>
          <p>Below is a list of created albums</p>
		  <p>
		  	
		  	{% if albums %}
		  		<ul class="sortable thumbnails">
		  		{% for album in albums %}
	  				<li albumid="{{ album.id }}"  class="span2 thumbnail">
		  					<a href="{{ app.url_generator.generate('admin.album.edit', [ album.name ]) }}">
		  					<img src="{{ album.feature }}" style="width:100px;height:64px;"/>
		  					<h4>{{ album.name }}</h4>
		  					</a>
	 				</li>
		  		{% endfor %}
		  		</ul>
		  	{% else %}
		  		There are no albums created yet
		  	{% endif %}
		  	
		  </p>
	</div>
    	
</div>

<script>
$(document).ready(function(e){
	
	$('.sortable').sortable();
	
	/*$('.create').live("click", function(e){
		e.preventDefault();
		
		console.log("Create new");
				
		$.post("{{ app.url_generator.generate('admin.album.create') }}", 
	       { val: $("#new_album_name").val() }, 
	       function(response){
	        	if(!response.successful){
	        		alert("Name already exists");
	        	}
	        	else{
	        		$('.sortable').append('<li albumid="'+response.successful+'" class="">'+$("#new_album_name").val()+' - <a href="/admin/albums/'+$("#new_album_name").val()+'">Edit</a></li>');
	        	}
	       }, 
	       'json'
	    );
		
		
	});*/
	
	$('.sortable').sortable().bind('sortupdate', function() {
    	
    	var data = [];
    	//Triggered when the user stopped sorting and the DOM position has changed.
    	$.each($('.sortable').find("[albumid]"), function(k,v){

    		data[k] = $(v).attr('albumid'); 
	    	
    	});
    	
    	console.log(data);
    	
    	// Send updated request to server    	
    	$.post("{{ app.url_generator.generate('admin.album.update_display') }}", 
	    	{ data: data }, 
	    	function(response){
	    	
				if(response.status){
					$('.json_alert').addClass('alert-success');
				}
				else{
					$('.json_alert').addClass('alert-error');
				}

				$('.json_alert').removeClass('hidden').find('span').text(response.response);

	    	}, 
	    	'json'
	    );
    	
	});

});
</script>

{% endblock %}