{% extends 'container.twig' %}
{% block body %}

<style>
.modal {
    overflow-y:auto;
    max-height:90%;
    max-height: 500px;
    min-height: 500px; 
}
</style>

<div class="hero-unit">
    <h1 class="album_name">{{ album.name }}</h1>
    <p>Managing the album <span class="album_name">{{ album.name }}</span></p>
</div>

<!-- Breadcrumbs -->
<div class="row-fluid">
	<ul class="breadcrumb">
  		<li><a href="{{ app.url_generator.generate('admin.homepage') }}">Home</a> <span class="divider">/</span></li>
	  	<li><a href="{{ app.url_generator.generate('admin.albums') }}">Albums</a> <span class="divider">/</span></li>
	  	<li class="active">{{ album.name }}</li>
	</ul>
</div>
<!-- /Breadcrumbs -->

<form method="post" action="{{ app.url_generator.generate('admin.album.update') }}" enctype="multipart/form-data">
<div class="row">
		{% if response == 'success' %}
		<div class="alert alert-success">
  			<a href="#" class="close" data-dismiss="alert" >&times;</a>
  			<strong>Good Job!</strong> You have updated the album
		</div>
		{% elseif response == 'fail' %}
		<div class="alert alert-error">
  			<a href="#" class="close" data-dismiss="alert" >&times;</a>
  			<strong>Warning!</strong> {{ error }}
		</div>
		{% endif %}
			
		<div class="span4">
	        <h2>Album Name</h2>
	        <p><input type="text" name="name" field="album_name" value="{{ album.name }}"/></p>
	        <p>Slug: <i>{{ album.slug }}</i></p>
	        
	        <h2>Album Description</h2>
	        <p><textarea class="span3" name="description" field="album_description">{{ album.description }}</textarea></p>
			
			<input type="hidden" name="id" value="{{ album.id }}" />
			<input type="hidden" name="slug" value="{{ album.slug }}" />
			
		</div>
	    
	    <div class="span4">
	        <h2>Feature Thumbnail</h2>
	        <p>
	        	<a href="#featureImage" data-toggle="modal" class="thumbnail">
			      <img id="featured" src="{{ album.feature|default('holder.js/300x200') }}" alt="">
			      <input type="hidden" class="feature-image" name="feature" value="{{ album.feature }}" />
			    </a>
	        </p>
		</div>
		
		<div class="span3 offset1">
	        <h2>Permissions</h2>
	        <p>
	        	<h5>Visible:</h5>
	        	<div class="btn-group" data-toggle-name="visible" data-toggle="buttons-radio">
				  <button type="button" value="1" class="btn btn-primary">Yes</button>
				  <button type="button" value="0" class="btn btn-primary">No</button>
				</div>
				<input type="hidden" name="visible" value="{{ album.visible }}" />
			</p>
			
			<p>
	        	<h5>Require Authentication:</h5>
	        	<div class="btn-group" data-toggle-name="permissions" data-toggle="buttons-radio">
				  <button type="button" value="1" class="btn btn-primary">Yes</button>
				  <button type="button" value="0" class="btn btn-primary">No</button>
				</div>
				<input type="hidden" name="permissions" value="{{ album.permissions }}" />
			</p>
			
			<p>
	        	<h5>Upload Images:</h5>
	        	<span class="btn btn-success fileinput-button">
                    <i class="icon-plus icon-white"></i>
                    <span>Add files</span>
                	<input type="file" id="files" multiple />
                </span>
				<input type="button" class="btn btn-primary" id="upload" value="Upload" />
				<progress></progress>
                
		</div>
	
</div>

<!-- Control Buttons -->
<div class="row">
	
	<div class="span12">
		<button name="submit" type="submit" class="btn btn-primary">Save</button>
		<button name="create_new" type="button" class="btn btn-success">Create New Album</button>
		<button name="delete" type="button" class="btn btn-danger" data-target="#confirm-modal" data-toggle="modal">Delete</button>
	</div>
	
</div>
<!-- /Control Buttons -->

<div id="confirm-modal" class="modal hide fade">
    <div class="modal-header">
      <a href="#" class="close" data-dismiss="modal">&times;</a>
      <h3>Delete Album</h3>
    </div>
    <div class="modal-body">
      <p>You are about to delete the album "<span class="album_name">{{ album.name }}</span>".</p>
      <p>Do you want to proceed?</p>
    </div>
    <div class="modal-footer">
	  <button name="delete" type="submit" class="btn btn-danger confirm-delete">Delete</button>
      <a href="javascript:$('#confirm-modal').modal('hide')" class="btn secondary">No</a>
    </div>
</div>

</form>
    	
<div id="featureImage" class="modal hide fade">
    <div class="modal-header">
      <a href="#" class="close" data-dismiss="modal">&times;</a>
      <h3>Select a feature image</h3>
    </div>
    <div class="modal-body featured-image-list">
    	<p>
 		{% if images %}
			<ul class="thumbnails">
  	 		{% for img in images %}
	        <li class="span2">
    			<div class="thumbnail">
    				<img src="/{{ album.image_path }}{{ img }}" alt="">
    			</div>
    		</li>
 			{% endfor %}
 			</ul>
 		{% else %}
 			No images to display
 		{% endif %}
 		</p>
    </div>
    <div class="modal-footer">
	  <button type="button" class="btn btn-success">Save</button>
      <a href="javascript:$('#featureImage').modal('hide')" class="btn secondary">Close</a>
    </div>
</div>

<script>
$(document).ready(function(e){
	
	
	$('button[name="create_new"]').click(function(e){
		window.location = '{{ app.url_generator.generate('admin.albums') }}';
	});
	
	$('.sortable').sortable();

	$('progress').hide();
	
	$('div.btn-group[data-toggle-name]').each(function(){
	    
	    var group   = $(this);
	    var name    = group.attr('data-toggle-name');	    
	    var hidden  = $('input[name="' + name + '"]');
	    
	    $('button', group).each(function(){
	      var button = $(this);
	      button.on('click', function(){
	          hidden.val($(this).val());
	          
	          /*$.post("{{ app.url_generator.generate('admin.album.update') }}", 
	          	{ albumid: {{album.id}}, field: name, val: $(this).val() }, 
	          	function(response){
	          		console.log(response);
	          	}, 
	          	'json'
	          );*/
	      });
	      
		  if(button.val() == hidden.val()) {
		     button.addClass('active');
		  }
		  
	    });
	    
	});
	
	/*$('input, textarea').on('keyup', function(e){
		var className = $(this).attr('field');
		var inputName = $(this).attr('name');
		
		$("."+className).text($(this).val());
		
		/*$.post("{{ app.url_generator.generate('admin.album.update') }}", 
	       { albumid: {{album.id}}, field: inputName, val: $(this).val() }, 
	       function(response){
	        	console.log(response);
	       }, 
	       'json'
	    );*//*
	}); */
	
	$("#files").change(function() {
	  $(this).parent().find('span').text($(this).prop("files").length + " files");
	});

	$('#upload').click(function(){
	
		$('progress').show();
	
	    var formData = new FormData();
	    
	    $.each($('#files').prop("files"), function(k,v){
	    	formData.append("images[]", v);
	    });
	    
	    formData.append('album', $('input[name="name"]').val());
	    
	    $.ajax({
	        url: '{{ app.url_generator.generate('admin.upload') }}',  //server script to process data
	        type: 'POST',
	        xhr: function() {  // custom xhr
	            myXhr = $.ajaxSettings.xhr();
	            if(myXhr.upload){ // check if upload property exists
	                myXhr.upload.addEventListener('progress',function(e){
					    if(e.lengthComputable){
					        $('progress').attr({value:e.loaded,max:e.total});
					    }
				    }, false); // for handling the progress of the upload
	            }
	            return myXhr;
	        },
	        //Ajax events
	       // beforeSend: beforeSendHandler,
	        success: function(response){
	        	
	        	var res = jQuery.parseJSON(response);
	        	
	        	$('#files').parent().find('span').text('Add files');
	        	
	        	$('progress').hide();
	        	
	        	if($('.featured-image-list p').length > 0){
	        		$('.featured-image-list p').remove();
	        	}
	        	
	        	$.each(res.imgs, function(k, v){
	        	    $('.featured-image-list').append('<img src="/_thumbs/'+ res.album+'256/'+v+'" class="center thumbnail" />').css('cursor', 'pointer');
	        	});
	        		
				$('.featured-image-list img').on('click', function(e){
					
					var $img = $(this).attr('src');
					
					$("#featured").attr('src', $img);
					
					$('input.feature-image').val($img);
					console.log($('input.feature-image').val());
					$('#featureImage').modal('hide');
					
				});
	        	
	        },
	        //error: errorHandler,
	        
	        // Form data
	        data: formData,
	        //Options to tell JQuery not to process data or worry about content-type
	        cache: false,
	        contentType: false,
	        processData: false
	    });
	});
	
	$('.featured-image-list img').on('click', function(e){
					
		var $img = $(this).attr('src');
					
		$("#featured").attr('src', $img);
					
		$('input.feature-image').val($img);
		console.log($('input.feature-image').val());
		$('#featureImage').modal('hide');
					
	});

});
</script>

{% endblock %}