{% extends 'container.twig' %}
{% block body %}

<div class="row">

    <div class="hero-unit">
            <h1>{{ album }} <small>Viewing Album</small></h1>
            <p><b>Description:</b> {{ description }}</p>
            <p>This album has {{ picture_count }} pictures, last updated on {{ last_updated }}</p>
	</div>
	
	<div class="row">
		{% for k,v in pictures %}
		<div class="span3">
	      <a href="/album/{{ album }}/{{ k }}/">
	      	<img src="{{ v.img| raw }}" alt="">
	      	<h5>{{ k }}</h5>
	      	<p>{{ v.size }} Picture(s)</p>
	      </a>
	    </div>
			
		{% endfor %}
	</div>
          
</div>

{% endblock %}